/* global background-color: rgba(174, 212, 143, 0.8);; */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Send+Flowers&display=swap');
body {
    margin: 10px;
    background: linear-gradient(to right, white, rgba(174, 212, 143, 0.8));
    font-family: 'Send Flowers', cursive;
}

nav>div>a {
    color: darkgreen;
    margin: 30px;
    font-size: 25px;
}

img {
    border-radius: 10px;
    margin-left: 20px;
    height: 35px;
}

.head-font {
    border-bottom: 2px solid;
    font-family: 'Send Flowers';
    font-size: 80px;
    color: darkgreen;
    animation-name: fade-out;
    animation-delay: 2s;
    animation-duration: 3s;
}

p {
    color: darkgreen;
    font-size: 30px;
}

button {
    margin-left: 25%;
    margin-top: 2%;
    width: 50px;
    color: darkgreen;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 30px;
}

.button-hover:hover small {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    color: darkgreen;
}

a {
    text-decoration: none;
}

small>a {
    text-decoration: underline;
}

small {
    display: none;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 3s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}