<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Send+Flowers&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body onload="writer()">
    <div class="font w3-container fade-in">
        <h2 class="head-font w3-cell-middle w3-display-middle" id="main-head"></h2>
        <div id="paragraph" class="w3-hide w3-display-middle fade-in">
            <p class="">Do you choose to execept ?</p>
            <div class="">
                <div class="w3-half button-hover">
                    <button id="">Yes</button>
                    <small> *for better expirience please login or register </small>
                </div>
                <div class="w3-half w3-cell-middle">
                    <button>No</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/index.js"></script>
</body>

</html>